.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.first-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aliceblue;
    position: relative;
    min-height: 100%;

    .first-page__slogan {
        width: 50%;
        padding-inline-start: 5rem;
        color: #104561;

        .main-title {
            font-size: 5rem;
            font-weight: 700;
            margin: 0;
            padding-block: 5rem;
        }

        .sub-title {
            font-size: 2rem;
            margin: 0;
        }
    }

    .img-container {
        height: 100%;
        flex-basis: 50%;
    }
}

.carousel-container:nth-child(even) {
    background-color: #ebebeb;
}

.supplements_card {
    height: 12rem;
    width: 12rem;
    margin: 5rem;
    outline: 1px solid lightgray;
    box-shadow: 1px 1px 20px 1px #00000030;
}

.carousel-button {
    &:focus {
        background-color: aqua !important;
    }
}

.slider-container {
    padding: 2rem;

    .MuiButtonBase-root {
        color: #000000;
        -webkit-tap-highlight-color: unset !important;

        &:hover {
            color: #000000;
        }

        &:focus {
            color: #000000;
        }
    }

    .slick-prev {
        width: auto !important;
        height: auto !important;
        background-color: lightgrey;
        z-index: 4;

        &::before {
            content: unset;
        }

        &:hover {
            background-color: lightgrey;
        }

        &:focus {
            background-color: lightgrey;
        }
    }

    .slick-next {
        width: auto !important;
        height: auto !important;
        background-color: lightgrey;
        z-index: 4;

        &::before {
            content: unset;
        }

        &:hover {
            background-color: lightgrey;
        }

        &:focus {
            background-color: lightgrey;
        }
    }

    .MuiCard-root {
        position: relative;
        display: block !important;
        margin-inline: 1.5rem;
        margin-block: 0.5rem;
        min-width: 15rem !important;
        min-height: 15rem !important;
        height: 20rem;
        border: none;
        border-radius: 1rem;

        .supplements-card-image-container {
            display: flex;
            justify-content: end;
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .MuiCardMedia-root {
            position: relative;
            width: min-content;
            object-fit: contain;
            padding: 2rem;
        }

        .MuiCardActionArea-root {
            height: 100%;
            color: white;
            display: flex;
            justify-content: start;
            align-items: end;
            transition: backdrop-filter 0.25s ease-in-out;

            &:hover {
                backdrop-filter: blur(0.25rem);
            }
        }

        .MuiCardContent-root {
            width: 60%;
            padding-bottom: 2.5rem;

            .MuiTypography-h4 {
                text-shadow: 4px 4px 18px black;
                padding-bottom: 5rem;
            }

            .MuiTypography-body1 {
                text-shadow: 4px 4px 12px black;
            }
        }
    }

    .MuiCard-root {
        background: linear-gradient(118deg, rgb(16, 69, 97) 1%, rgb(16, 69, 97) 82%, rgb(0, 0, 0) 99%);
    }
}

.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: unset;

    .carousel-container_info {
        padding-inline: 3.5rem;
        display: flex;

        .MuiTypography-h1 {
            font-size: 5rem;
            font-weight: 500;
            padding: 4rem;
            color: black;
        }
    }

}

.carousel-container:nth-child(even) {

    .carousel-container_info {
        justify-content: flex-end !important;
    }
}

@media (max-width: 1400px) {
    .first-page {
        .first-page__slogan {
            .main-title {
                font-size: 3.5rem;
            }

            .sub-title {
                font-size: 1.5rem;
            }
        }
    }

    .carousel-container {
        .carousel-container_info {
            .MuiTypography-h1 {
                font-size: 3.5rem;
            }
        }
    }
}

@media (max-width: 800px) {
    .first-page {
        .first-page__slogan {
            width: 100%;
            padding-inline: 3rem;
        }
    }
}

@media (max-width: 450px) {
    .first-page {
        .first-page__slogan {
            .main-title {
                font-size: 2.5rem;
            }

            .sub-title {
                font-size: 1.25rem;
            }
        }
    }

    .carousel-container {
        .carousel-container_info {
            .MuiTypography-h1 {
                font-size: 2.25rem;
                padding: 2rem;
            }
        }
    }
}