.page {
    height: 100%;
    width: 100%;
    background-color: #cbcbcb;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: row;

    .imgs-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;

        h1 {
            padding-bottom: 4rem;
            margin: 0;
            text-shadow: 0 0 black;
            font-size: 4rem;
        }

        p {
            width: 60%;
            padding-bottom: 2rem;
        }
    }
}